
<div class="row">
  <div class="col-8 offset-2">

    <form id="add-question" name="add-question" method="post" action="/questions">
      <div class="form-group">
        <label for="question">Question</label>
        <input type="text" name="question" class="form-control" placeholder="Enter your question">
      </div>

      <div class="answer-inputs">
        <div class="form-group">
          <label>Answers</label>
          <input type="text" name="answers" class="form-control" placeholder="Enter an answer">
        </div>
        <div class="form-group">
          <input type="text" name="answers" class="form-control" placeholder="Enter an answer">
        </div>
        <div class="form-group">
          <input type="text" name="answers" class="form-control" placeholder="Enter an answer">
        </div>
      </div>

        <div class="form-group">
          <button type="button" class="btn btn-outline-primary btn-sm btn-add-answer">Add Answer</button>
        </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>

  </div>
</div>