
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Question</th>
        </tr>
      </thead>
      <tbody>
        {{#each questions}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>